{% load static %}
{% load socialaccount %}
<!-- Page Content -->
    <div class="container">
      {% get_social_accounts user as accounts %}
      <!-- Portfolio Item Heading -->

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8 pl-5">
          <h1 class="my-4">{{ accounts.github.0.extra_data.login }}</h1>

          <img class="img-fluid" id="avatar" src="{{ accounts.github.0.extra_data.avatar_url }}" alt="">
        </div>
        <div class="col-md-4 pt-2">
          <h1 class="my-4">Github repositories</h1>
          <ul>
            {% for repo in social_account_repos %}
                <li><a href="{{ repo.html_url }}">{{ repo.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->